<% if (post && index){ %>
<li class="list-group-item title">
    <a href="<%- url_for(post.path) %>"><%= post.title %></a>
</li>
<% } else { %>

<h1 class="title"><%= post.title %></h1>
<!---
<div style="text-align:center;margin-top: -10px;">
<div class="article-category">
<%- date(post.date, '发表于YYYY年M月D日') %>

<% if (post.categories && post.categories.length){ %>
    <%- list_categories(post.categories, {
    show_count: false,
    class: 'article-category',
    style: 'none',
    separator: ' | '
}) %>
<% } %>

--->
</div>

<%- post.content %>
<%- partial('_partial/afterfooter') %>
<% } %>
