<% if (post && index){ %>
<li class="list-group-item title">
    <a href="<%- url_for(post.path) %>"><%= post.title %></a>
</li>
<% } else { %>

<div class="row">
    <div class="col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="article-content"><h1 class="title"><%= post.title %></h1>
            <%- post.content %>
            <%- partial('_partial/afterfooter') %></div>
    </div>
</div>
</div>
<% } %>
