<% if (pagination == 2){ %>
<ul class="list-group">
    <% page.posts.each(function(post){ %>
    <li class="list-group-item"
        style="padding: 0;">
        <span class="badge"
              style="margin: 15px 10px 15px 0;background: transparent;color: #999999;font-weight: normal;">
            <%= date(post.date, null) %>
        </span>
        <a href="<%- url_for(post.path) %>"
           style="display: block;width: 100%;padding: 10px 15px;"><%= post.title || '(no title)' %></a>
    </li>
    <% }) %>
</ul>
<% } else { %>
<% var last; %>
<% page.posts.each(function(post, i){ %>
<% var year = post.date.year(); %>
<% if (last != year){ %>
<% if (last != null){ %>
</div></section>
<% } %>
<% last = year; %>
<section class="archives-wrap">
    <div class="archive-year-wrap">
        <a href="<%- url_for(config.archive_dir + '/' + year) %>"
           class="archive-year"><%= year %></a>
    </div>
    <div class="archives">
        <% } %>
        <%- partial('archive-post', {
            post: post,
            even: i % 2 == 0
        }) %>
        <% }) %>
        <% if (page.posts.length){ %>
    </div>
</section>
<% } %>
<% } %>
<% if (page.total > 1){ %>
<div id="page-nav">
    <%- bs_paginator({
        prev_text: 'Prev',
        next_text: 'Next'
    }) %>
</div>
<% } %>
