<% if (pagination == 2){ %>
<div class="panel panel-default">
    <div
            class="panel-heading"
            style="padding: 7px 15px 8px;"
    >
        <div class="panel-title">POSTS</div>
    </div>
    <ul class="list-group">
        <% page.posts.each(function(post){ %>
        <li
                class="list-group-item"
                style="padding: 0;"
        >
            <span
                    class="badge"
                    style="background: transparent;color: #999999;font-weight: normal;"
            >
                <%= date(post.date, 'YYYY/MM/DD') %>
            </span>
            <a
                    href="<%- url_for(post.path) %>"
                    style="display: block;width: 100%;padding: 9px 15px;"
            ><%= post.title || '(no title)' %></a>
        </li>
        <% }) %>
    </ul>
</div>
<% } else { %>
<% var last; %>
<% page.posts.each(function(post, i){ %>
<% var year = post.date.year(); %>
<% if (last != year){ %>
<% if (last != null){ %>
</div></section>
<% } %>
<% last = year; %>
<div class="panel panel-default">
    <div
            class="panel-heading"
            style="padding: 7px 15px 8px;"
    >
        <div class="panel-title">
            <% if (is_archive()){ %>
            ARCHIVES: <%= year %>
            <% } else if (is_category()){ %>
            CATEGORIES: <%= page.category %>
            <% } else if (is_tag()){ %>
            TAGS: <%= page.tag %>
            <% } %>
        </div>
    </div>
    <ul class="list-group">
        <% } %>
        <%- partial('archive-post', {
            post: post,
            even: i % 2 == 0
        }) %>
        <% }) %>
    </ul>
    <% if (page.posts.length){ %>
</div>
<% } %>
<% } %>
<% if (page.total > 1){ %>
<div id="page-nav">
    <%- bs_paginator({
        prev_text: '<i class="fa fa-caret-left"></i> PREV',
        next_text: 'NEXT <i class="fa fa-caret-right"></i>'
    }) %>
</div>
<% } %>
